# gui close if player dead
public net.minecraft.world.entity.LivingEntity dead

# cursor texture creation
public com.mojang.blaze3d.platform.NativeImage pixels

# vanilla button textures
public net.minecraft.client.gui.components.AbstractButton SPRITES
